x-poll-config: &poll-config
  POLL_CONFIG: |
    - url: https://github.com/xfallme/homelab-swarm.git
      interval: 300

services:
  app:
    image: ghcr.io/kimdre/doco-cd:0.64.0
    ports:
      - 9120:9120 # Prometheus metrics
    networks:
      - doco-cd
    environment:
      TZ: Europe/Vienna
      GIT_ACCESS_TOKEN_FILE: /run/secrets/git_access_token
      <<: *poll-config
      SECRET_PROVIDER: 1password
      SECRET_PROVIDER_ACCESS_TOKEN_FILE: /run/secrets/1password_service_account_token
    secrets:
      - git_access_token
      - 1password_service_account_token
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/swarm-data/doco-cd/data:/data
    healthcheck:
      test: [ "CMD", "/doco-cd", "healthcheck" ]
      start_period: 120s # higher because of 1password
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      resources:
        limits:
          memory: 512M

networks:
  doco-cd:
    name: doco-cd
    driver: overlay

secrets:
  git_access_token:
    external: true
  1password_service_account_token:
    external: true