x-poll-config: &poll-config
  POLL_CONFIG: |
    - url: https://github.com/xfallme/homelab-swarm.git
      interval: 180

services:
  doco-cd:
    container_name: doco-cd
    image: ghcr.io/kimdre/doco-cd:v0.64
    restart: unless-stopped
    ports:
      - "9120:9120" # Prometheus metrics
    environment:
      TZ: Europe/Vienna
      GIT_ACCESS_TOKEN_FILE: /run/secrets/git_access_token
      <<: *poll-config
      SECRET_PROVIDER: 1password
      SECRET_PROVIDER_ACCESS_TOKEN_FILE: /run/secrets/1password_service_account_token
    secrets:
      - git_access_token
      - 1password_service_account_token
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/swarm-data/doco-cd/data:/data
    healthcheck:
      test: [ "CMD", "/doco-cd", "healthcheck" ]
      start_period: 15s
      interval: 30s
      timeout: 5s
      retries: 3

secrets:
  git_access_token:
    external: true
  1password_service_account_token:
    external: true