# backup polling configuration every 12 hours, incase webhooks are missed
x-poll-config: &poll-config
  POLL_CONFIG: |
    - url: https://github.com/xfallme/homelab-swarm.git
      interval: 43200

services:
  app:
    image: ghcr.io/kimdre/doco-cd:0.69.0
    hostname: doco-cd
    networks:
      - external_proxy_network
    environment:
      TZ: Europe/Vienna
      GIT_ACCESS_TOKEN_FILE: /run/secrets/git_access_token
      <<: *poll-config
      SECRET_PROVIDER: 1password
      SECRET_PROVIDER_ACCESS_TOKEN_FILE: /run/secrets/1password_service_account_token
      WEBHOOK_SECRET_FILE: /run/secrets/webhook_secret
    secrets:
      - git_access_token
      - 1password_service_account_token
      - webhook_secret
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/swarm-data/doco-cd/data:/data
    healthcheck:
      test: [ "CMD", "/doco-cd", "healthcheck" ]
      start_period: 120s # higher because of 1password
      interval: 30s
      timeout: 5s
      retries: 3
    deploy:
      resources:
        limits:
          memory: 512M

networks:
  external_proxy_network:
    external: true

secrets:
  git_access_token:
    external: true
  1password_service_account_token:
    external: true
  webhook_secret:
    external: true