services:
  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:v2.3.0-distroless
    networks:
      - external_proxy_network
      - lldap_pocket_id
    read_only: true
    user: 1000:1000
    environment:
      TZ: Europe/Vienna
      APP_URL: https://sso.$EXTERNAL_DOMAIN
      ENCRYPTION_KEY: $POCKET_ID_ENCRYPTION_KEY
      TRUST_PROXY: "true"
      MAXMIND_LICENSE_KEY: $POCKET_ID_MAXMIND_GEOLITE_LICENSE_KEY
      PUID: 1000
      PGID: 1000
      UI_CONFIG_DISABLED: "true"
      # POCKET_ID
      APP_NAME: SSO
      HOME_PAGE_URL: /settings/apps
      ALLOW_USER_SIGNUPS: disabled
      ACCENT_COLOR: "#379092"
      # SMTP
      # LDAP
      LDAP_ENABLED: "true"
      LDAP_URL: ldap://lldap:3890
      LDAP_BIND_DN: $POCKET_ID_LDAP_BIND_DN
      LDAP_BIND_PASSWORD: $POCKET_ID_LDAP_BIND_PASSWORD
      LDAP_BASE: $LLDAP_BASE_DN
      LDAP_USER_SEARCH_FILTER: (objectClass=person)
      LDAP_USER_GROUP_SEARCH_FILTER: (objectClass=groupOfNames)
      LDAP_SKIP_CERT_VERIFY: "false"
      LDAP_SOFT_DELETE_USERS: "true"
      LDAP_ATTRIBUTE_USER_UNIQUE_IDENTIFIER: uuid
      LDAP_ATTRIBUTE_USER_USERNAME: uid
      LDAP_ATTRIBUTE_USER_EMAIL: mail
      LDAP_ATTRIBUTE_USER_FIRST_NAME: givenName
      LDAP_ATTRIBUTE_USER_LAST_NAME: sn
      LDAP_ATTRIBUTE_USER_PROFILE_PICTURE: jpegPhoto
      LDAP_ATTRIBUTE_GROUP_MEMBER: member
      LDAP_ATTRIBUTE_GROUP_UNIQUE_IDENTIFIER: uuid
      LDAP_ATTRIBUTE_GROUP_NAME: cn
      LDAP_ADMIN_GROUP_NAME: pocketid_admin
    volumes:
      - /mnt/swarm-data/sso/pocket-id:/app/data
    healthcheck:
      test: [ "CMD", "/app/pocket-id", "healthcheck" ]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s
    deploy:
      replicas: 1
      labels:
        caddy_1: sso.$EXTERNAL_DOMAIN
        caddy_1.reverse_proxy: "{{upstreams 1411}}"
        caddy_2: https://sso.$EXTERNAL_DOMAIN:44443
        caddy_2.reverse_proxy: "{{upstreams 1411}}"

  lldap:
    image: lldap/lldap:v0.6.2-alpine-rootless
    hostname: lldap
    networks:
      - proxy_network
      - lldap_pocket_id
    volumes:
      - /mnt/swarm-data/sso/lldap:/data
    environment:
      TZ: Europe/Vienna
      UID: 1000
      GID: 1000
      LLDAP_JWT_SECRET: $LLDAP_JWT_SECRET
      LLDAP_KEY_SEED: $LLDAP_KEY_SEED
      LLDAP_LDAP_BASE_DN: $LLDAP_BASE_DN
      LLDAP_LDAP_USER_PASS: CHANG3_M3
    deploy:
      replicas: 1
      labels:
        caddy_1: ldap.$INTERNAL_DOMAIN
        caddy_1.reverse_proxy: "{{upstreams 17170}}"

networks:
  proxy_network:
    external: true
  external_proxy_network:
    external: true
  lldap_pocket_id:
    driver: overlay