services:
  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:v2.3.0-distroless
    networks:
      - external_proxy_network
    read_only: true
    user: 1000:1000
    environment:
      TZ: Europe/Vienna
      APP_URL: https://sso.$EXTERNAL_DOMAIN
      ENCRYPTION_KEY: $POCKET_ID_ENCRYPTION_KEY
      TRUST_PROXY: true
      # MAXMIND_LICENSE_KEY:
      PUID: 1000
      PGID: 1000
    volumes:
      - /mnt/swarm-data/sso/pocket-id:/app/data
    healthcheck:
      test: [ "CMD", "/app/pocket-id", "healthcheck" ]
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s
    deploy:
      replicas: 1
      labels:
        caddy_1: sso.$EXTERNAL_DOMAIN
        caddy_1.reverse_proxy: "{{upstreams 1411}}"
        caddy_2: https://sso.$EXTERNAL_DOMAIN:44443
        caddy_2.reverse_proxy: "{{upstreams 1411}}"

networks:
  external_proxy_network:
    external: true