services:
  socket-proxy:
    image: 11notes/socket-proxy:2.1.7
    read_only: true
    user: "0:988" 
    environment:
      TZ: Europe/Vienna
      SOCKET_PROXY_HTTP_LISTEN_IP: 127.0.0.1 # disable HTTP listening
    volumes:
      - /var/run/docker.sock:/run/docker.sock:ro 
      - "socket-proxy.run:/run/proxy"
    deploy:
      mode: global

networks:
  proxy_network:
    name: proxy_network
    driver: overlay
    internal: true

volumes:
  socket-proxy.run:
    name: socket-proxy.run
    driver: local
