services:
  socket-proxy:
    image: 11notes/socket-proxy:2.1.8
    read_only: true
    environment:
      TZ: Europe/Vienna
      SOCKET_PROXY_HTTP_LISTEN_IP: 127.0.0.1 # disable HTTP listening
    volumes:
      - /var/run/docker.sock:/run/docker.sock:ro 
      - "socket-proxy.run:/run/proxy"
    deploy:
      replicas: 3
      max_replicas_per_node: 1

networks:
  proxy:
    name: proxy
    driver: overlay
    internal: true

volumes:
  socket-proxy.run:
    name: socket-proxy.run
    driver: local
