services:
  socket-proxy:
    image: 11notes/socket-proxy:2.1.7
    read_only: true
    user: "0:988"
    environment:
      TZ: Europe/Vienna
      SOCKET_PROXY_HTTP_LISTEN_IP: 127.0.0.1 # disable HTTP listening
    volumes:
      - /var/run/docker.sock:/run/docker.sock:ro 
      - socket-proxy.run:/run/proxy
    deploy:
      mode: global

  caddy:
    # build: ./caddy
    image: ghcr.io/xfallme/homelab-swarm-caddy:2.10.2
    ports:
      - 80:80
      - 443:443
    networks:
      - proxy_network
      - internal
    environment:
      TZ: Europe/Vienna
      DOCKER_HOST: unix:///run/proxy/docker.sock
    volumes:
      - socket-proxy.run:/run/proxy:ro
      - /mnt/swarm-data/caddy/data:/data
      - /mnt/swarm-data/caddy/config:/config
      - /mnt/swarm-data/caddy/logs:/var/log/caddy
    security_opt:
      - no-new-privileges=true
    deploy:
      replicas: 1
      placement:
        constraints: [node.role == manager]
      labels:
        caddy_0.email: $EMAIL
        caddy_1.crowdsec.api_url: http://crowdsec:8080
        caddy_1.crowdsec.api_key: $CROWDSEC_API_KEY
        caddy_1.crowdsec.appsec_url: http://crowdsec:7422

  crowdsec:
    image: crowdsecurity/crowdsec:v1.7.6
    networks:
      - internal
    environment:
      TZ: Europe/Vienna
      COLLECTIONS: crowdsecurity/caddy crowdsecurity/appsec crowdsecurity/http-cve crowdsecurity/whitelist-good-actors
    volumes:
      - ./crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml
      - /mnt/swarm-data/caddy/logs:/var/log/caddy:ro
      - /mnt/swarm-data/crowdsec/data:/var/lib/crowdsec/data/
    security_opt:
      - no-new-privileges=true
    healthcheck:
      disable: true
    deploy:
      replicas: 1

networks:
  proxy_network:
    name: proxy_network
    driver: overlay
  internal:
    driver: overlay

volumes:
  socket-proxy.run:
    name: socket-proxy.run
    driver: local
