services:
  socket-proxy:
    image: 11notes/socket-proxy:2.1.7
    read_only: true
    user: "0:988"
    environment:
      TZ: Europe/Vienna
      SOCKET_PROXY_HTTP_LISTEN_IP: 127.0.0.1 # disable HTTP listening
    volumes:
      - /var/run/docker.sock:/run/docker.sock:ro 
      - socket-proxy.run:/run/proxy
    deploy:
      mode: global

  caddy:
    # build: ./caddy
    image: ghcr.io/xfallme/homelab-swarm-caddy:2.10.2
    ports:
      - 80:80
      - 443:443
    volumes:
      - socket-proxy.run:/run/proxy:ro
      - /mnt/swarm-data/caddy/data:/data
      - /mnt/swarm-data/caddy/config:/config
    networks:
      - proxy_network
    environment:
      TZ: Europe/Vienna
      DOCKER_HOST: "unix:///run/proxy/docker.sock"
    deploy:
      replicas: 1
      placement:
        constraints: [node.role == manager]

networks:
  proxy_network:
    name: proxy_network
    driver: overlay

volumes:
  socket-proxy.run:
    name: socket-proxy.run
    driver: local
