services:
  socket-proxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:v0.4.2
    hostname: socket-proxy
    networks:
      - internal_docker-proxy
    environment:
      TZ: Europe/Vienna
      CONTAINERS: 1
      SERVICES: 1
      NETWORKS: 1
      CONFIGS: 1
      TASKS: 1
      NODES: 1
      INFO: 1
      SESSION: 1
      SWARM: 1
    volumes:
      - /var/run/docker.sock:/run/docker.sock
      - socket-proxy.run:/run/proxy/
    deploy:
      mode: global

  caddy:
    # build: ./caddy
    image: ghcr.io/xfallme/homelab-swarm-caddy:2.10.2
    ports:
      - 80:80/tcp # http
      - 80:80/udp # http3
      - 443:443/tcp # https
      - 443:443/udp # http3
      - 44443:44443/tcp # external https
      - 44443:44443/udp # external http3
    networks:
      - proxy_network
      - external_proxy_network
      - internal
      - internal_docker-proxy
    environment:
      TZ: Europe/Vienna
      DOCKER_HOST: tcp://socket-proxy:2375
      CADDY_INGRESS_NETWORKS: proxy_network
    volumes:
      - socket-proxy.run:/var/run
      - /mnt/swarm-data/caddy/data:/data
      - /mnt/swarm-data/caddy/config:/config
      - /mnt/swarm-data/caddy/logs:/var/log/caddy
    security_opt:
      - no-new-privileges=true
    deploy:
      replicas: 1
      placement:
        constraints: [node.role == manager]
      labels:
        caddy.email: $EMAIL
        caddy.crowdsec.api_url: http://crowdsec:8080
        caddy.crowdsec.api_key: $CROWDSEC_API_KEY
        caddy.crowdsec.appsec_url: http://crowdsec:7422
        caddy_1: "*.$INTERNAL_DOMAIN"
        caddy_1.tls.dns: cloudflare $CLOUDFLARE_API_TOKEN
        caddy_1.tls.propagation_delay: 2m
        caddy_1.tls.resolvers: 1.1.1.1
        caddy_2: https://*.$EXTERNAL_DOMAIN
        caddy_2.tls.dns: cloudflare $CLOUDFLARE_API_TOKEN
        caddy_2.tls.propagation_delay: 2m
        caddy_2.tls.resolvers: 1.1.1.1
        caddy_2.route.crowdsec:
        caddy_2.route.appsec:
        # Webhook endpoint for doco-cd, here for secret lookup
        caddy_3: https://gitops.$EXTERNAL_DOMAIN
        caddy_3.reverse_proxy: doco-cd:80
        
  crowdsec:
    image: crowdsecurity/crowdsec:v1.7.6
    hostname: crowdsec
    networks:
      - internal
    environment:
      TZ: Europe/Vienna
      COLLECTIONS: crowdsecurity/caddy crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-generic-rules crowdsecurity/http-cve crowdsecurity/whitelist-good-actors
    volumes:
      - ./crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml
      - /mnt/swarm-data/caddy/logs:/var/log/caddy:ro
      - /mnt/swarm-data/crowdsec/data:/var/lib/crowdsec/data/
      - /mnt/swarm-data/crowdsec/config:/etc/crowdsec/
    security_opt:
      - no-new-privileges=true
    deploy:
      replicas: 1

networks:
  proxy_network:
    name: proxy_network
    driver: overlay
  external_proxy_network:
    name: external_proxy_network
    driver: overlay
  internal:
    driver: overlay
  internal_docker-proxy:
    driver: overlay

volumes:
  socket-proxy.run:
    name: socket-proxy.run
    driver: local
