- name: Stop and delete swarm VMs
  hosts: localhost
  gather_facts: false

  vars:
    proxmox_node: "zeus"
    proxmox_api_host: "192.168.20.10"
    proxmox_api_user: "root@pam"

    vmid_base: 111

  tasks:

    - name: Build swarm VM list from inventory
      set_fact:
        swarm_vms: >-
          {{
            groups['swarm']
            | zip(range(vmid_base, vmid_base + groups['swarm']|length))
            | list
          }}

    - name: Get Proxmox API credentials from 1Password
      set_fact:
        proxmox_api_token_id: "{{ lookup('community.general.onepassword', 'Proxmox API Key', field='username', vault='Hosting') }}"
        proxmox_api_token_secret: "{{ lookup('community.general.onepassword', 'Proxmox API Key', field='password', vault='Hosting') }}"

    - name: Stop VMs
      community.proxmox.proxmox_kvm:
        api_host: "{{ proxmox_api_host }}"
        api_user: "{{ proxmox_api_user }}"
        api_token_id: "{{ proxmox_api_token_id }}"
        api_token_secret: "{{ proxmox_api_token_secret }}"
        node: "{{ proxmox_node }}"
        vmid: "{{ item.1 }}"
        state: stopped
      loop: "{{ swarm_vms }}"
      delegate_to: localhost
      ignore_errors: true

    - name: Delete VMs
      community.proxmox.proxmox_kvm:
        api_host: "{{ proxmox_api_host }}"
        api_user: "{{ proxmox_api_user }}"
        api_token_id: "{{ proxmox_api_token_id }}"
        api_token_secret: "{{ proxmox_api_token_secret }}"
        node: "{{ proxmox_node }}"
        vmid: "{{ item.1 }}"
        state: absent
      loop: "{{ swarm_vms }}"
      delegate_to: localhost
