# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Tag

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *' # At 00:00 on day-of-month 1.

permissions:
  contents: read

jobs:
  main:
    name: Tag
    runs-on: ubuntu-latest
    steps:
      - name: Get Previous Tag and Determine New Tag
        id: tag
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const { data: tags } = await github.rest.repos.listTags({
              owner: context.repo.owner,
              repo: context.repo.repo,
              per_page: 1
            });

            const previousTag = tags[0]?.name || '0.0.0';
            const [previousMajor, previousMinor, previousPatch] = previousTag.split('.').map(Number);
            const now = new Date();
            const nextMajorMinor = `${now.getFullYear()}.${String(now.getMonth() + 1)}`;
            const nextPatch = `${previousMajor}.${previousMinor}` === nextMajorMinor ? previousPatch + 1 : 0;
            const nextTag = `${nextMajorMinor}.${nextPatch}`;

            console.log(`Previous tag: ${previousTag}`);
            console.log(`Next tag: ${nextTag}`);

            return nextTag;
      
      - name: Create Tag
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const nextTag = '${{ steps.tag.outputs.result }}';
            
            const tag = await github.rest.git.createTag({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag: nextTag,
              message: nextTag,
              object: context.sha,
              type: 'commit'
            });

            await github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: `refs/tags/${nextTag}`,
              sha: tag.data.sha
            });